html, 
body {
    min-height: 100%;
}

body {
  background-color: #101010;
}

.title-container {
  height: 100px;
  overflow: hidden;
}

.title-container h1 {
  margin: 0px;
  font-size: 100px;
  position: relative;
  top: 13px;
  height: 100px;
  overflow: hidden;
  transition: all .3s ease-in-out;
  color: #b30606;
}

.title-container h1.ng-enter {
  position: relative;
  top: 100px;
}

.all-movies {
  padding: 10%;
  padding-bottom: 0px;
  padding-top: 5%; 
  width: 1368px;
  margin: 0 auto;
}

.movie {
  display: inline-block;
  width: 342px;
  height: 200px;
  overflow: hidden;
  transition: all .3s ease-in-out;
  position: relative;
}

.movie.ng-enter {
  opacity: 0;
  margin-left: 80px;
  width: 200px;
  height: 100px;
}

.movie:hover {
  transform: scale(1.15);
  z-index: 100;
}

.movie .darken {
  position: absolute;
  top: 0px;
  width: 342px;
  height: 200px;
  background: black;
  opacity: .75;
}

.movie .title {
  position: absolute;
  top: 10px;
  left: 15px;
  color: white;
  font-size: 20px;
  display: inline-block;
  text-align: left;
  width: 50%;
}

div.error {
  text-align: center;
  color: darkred;
  padding-top: 15px;
}

/*
  LOADING SPINNER from https://projects.lukehaas.me/css-loaders/
*/
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  font-size: 10px;
  margin: 80px auto;
  margin-top: 30px;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
